Options +FollowSymlinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.yoshokatana.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^yoshokatana.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.yosho.me$ [NC]
RewriteRule ^(.*)$ http://yosho.me$1 [R,N]

RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteCond %{THE_REQUEST} ^GET\ ([^\.]+)\.(html|htm) [NC]
RewriteRule ^([^\.]+)\.(html|htm)$ %1 [R,NC,L]