@import 'helpful-LESS-functions.less';

/* CONFIGURATION */

@hdrfont: ~"ff-nuvo-web-pro-1,ff-nuvo-web-pro-2", sans-serif;
@bdyfont: ~"ff-nuvo-web-pro-1,ff-nuvo-web-pro-2", sans-serif;

@font-size: 16px; 		// Your base font-size in pixels
@em: @font-size*1em;	// Shorthand for outputting ems, e.g. "12/@em"
@txt: @font-size;

@column: 68px;	// The column-width of your grid in pixels
@gutter: 24px;	// The gutter-width of your grid in pixels

/*
	For reference, here are the outer margins:
	(d_ = default, t_ = tablet, m_ = mobile, wm_ = wide mobile)
*/	
	
@d_margin: 48px;
@t_margin: 28px;
@m_margin: 34px;
@wm_margin: 22px;

/* Selection stuff */

::selection {
	background: #aaa;
	color: white;
}
::-moz-selection {
	background: #aaa;
	color: white;
}

img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: rgba(170,170,170, 0.62);
}

/* END CONFIGURATION */

/*
	Column-widths in variables, in px
*/

@1cols: ( 1 * (@column + @gutter) - @gutter); @1col: @1cols;
@2cols: ( 2 * (@column + @gutter) - @gutter);
@3cols: ( 3 * (@column + @gutter) - @gutter);
@4cols: ( 4 * (@column + @gutter) - @gutter);
@5cols: ( 5 * (@column + @gutter) - @gutter);
@6cols: ( 6 * (@column + @gutter) - @gutter);
@7cols: ( 7 * (@column + @gutter) - @gutter);
@8cols: ( 8 * (@column + @gutter) - @gutter);
@9cols: ( 9 * (@column + @gutter) - @gutter);
@10cols: (10 * (@column + @gutter) - @gutter);

/*
	Margin, padding, and border resets
	except for form elements
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section, audio, canvas, video {
	display: block;
}

html {
	height: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

	body {min-height: 100%; font-size: 100%;}

sub, sup {
	font-size: 75%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
}

	sup {top: -0.5em;}
	sub {bottom: -0.25em;}

pre {
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word;
}

b, strong {font-weight: bold;}
abbr[title] {border-bottom: 1px dotted;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img, img {
	-ms-interpolation-mode: bicubic;
	border: 0;
}

input, textarea, button, select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

	button,
	html input[type="button"], 
	input[type="reset"], 
	input[type="submit"] {
	    cursor: pointer;
	    -webkit-appearance: button;
	}
	
	input[type="checkbox"],
	input[type="radio"] {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			 -o-box-sizing: border-box;
			-ms-box-sizing: border-box;
				box-sizing: border-box;
	}
	
	textarea {overflow: auto;}
	
/* IE10 responsive reset */

@-ms-viewport {
  width: 100%;
  height: 100%;
}

/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 6.875*@txt;
	line-height: 7.5*@txt;
	letter-spacing: -@txt/-8;
	font-family: @hdrfont;
	font-weight: bolder;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

h1, .huge {
	font-size: 4.25*@txt;
	line-height: 4.5*@txt;
	letter-spacing: @txt/-16;
	font-family: @hdrfont;
	font-weight: bolder;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

h2, .large {
	font-size: 2.625*@txt;
	line-height: 3*@txt;
	font-family: @hdrfont;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

h3, .bigger {
	font-size: 1.625*@txt;
	line-height: 2.25*@txt;
	font-family: @hdrfont;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

h4, .big {
	font-size: 1.375*@txt;
	line-height: 1.875*@txt;
	font-family: @hdrfont;
}

body, body p {
	font: @txt @bdyfont;
}

small, .small {
	font-size: 0.8125*@txt;
	line-height: 1.125*@txt;
	font-family: @bdyfont;
}

hr {
	height: 0px;
	border: 3px solid #666;
	margin-bottom: 42px;
	border-radius: 2px;
}

a {
	text-decoration: none;
	color: #222;
	-webkit-transition: text-shadow 200ms;
	//padding-bottom: 2px;
	//padding: 0 3px 0 3px;
}

a:hover {
	color: #151515;
	text-shadow: 0px 0px 1px #222;
	-webkit-transition: text-shadow 250ms;
	//border-bottom: 1px dotted #222;
	//border-radius: 6px;
	//background-color: #c8c8c8;
	//background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#c0c0c0));
	//background: -moz-linear-gradient(top,  #ddd,  #c0c0c0);
}

/* 
	LAYOUTS
*/

/*		Default Layout: 992px.
		Columns: 10. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	//width: 896px;
	//width: @10cols;
	padding: 72px 48px 84px;
	background-image: /*url(images/beta_banner.png),*/ url(images/project_papper.png);
	background-position: /*top right,*/ top left;
	background-repeat: /*no-repeat,*/ repeat;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

#wrap { width: @10cols; margin: 0 auto; }

#top {
	width: @10cols;
	text-align: center;
	margin-bottom: 42px;
}

#left {
	width: -2px + @6cols;
	position: relative;
	float: left;
	clear: both;
	p { margin-top: 24px; font-size: 24px; }
}

#right {
	width: -2px + @4cols;
	position: relative;
	float: left;
	margin-left: 22px;
	border: 1px solid #aaa;
	border-radius: 6px;
	background-color: rgba(200, 200, 200, .25);
	text-align: center;
	padding: 8px 0 8px 0;
	p { font-size: 18px; }
}

#center {
	width: @10cols;
	clear: left;
	margin-top: 120px;
	p { font-size: 18px; }
	ul { font-size: 18px; }
	span.trnl { display: none; }
	ul.skilllist li { margin-bottom: 8px; }
	ul.orml li { margin-bottom: 0px; }
	p.resumeBottom { font-size: 16px; margin-top: 22px; }
}

#center-portfolio {
	width: @10cols;
	clear: left;
	margin-top: 120px;
	text-align: center;
	p { font-size: 18px; }
}

.portsquare {
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 42px;
	border: 2px solid #333;
	border-radius: 3px;
	padding: 0;
	-moz-box-shadow: 0px 0px 1px 1px #333;
	-webkit-box-shadow: 0px 0px 1px 1px #333;
	box-shadow: 0px 0px 1px 1px #333;
	position: relative;
	z-index: 4;
}

.portsquare:nth-of-type(2n-1) {
	margin-left: 110px;
}

.portsquare:nth-of-type(2n) {
	margin-left: 68px;
}

.portsquare a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
}

.portsquare a:hover {
	background: none;
}

.portsquare a:hover img {
	-moz-box-shadow: 0px 0px 3px 3px #222;
	-webkit-box-shadow: 0px 0px 3px 3px #222;
	box-shadow: 0px 0px 3px 3px #222;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.portsquare img {
	width: 300px;
	height: 300px;
	z-index: 80;
}

.portsquare a div {
	display: none;
	height: 240px;
	padding-top: 60px;
	position: absolute;
	text-decoration: none;
	width: 300px;
	z-index: 100;
	background-color: rgba(15, 15, 15, 0.8);
	color: #fff;
	text-shadow: #000 0px 0px 20px;
	font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
}

.portsquare a div p {
	font: 14px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	text-shadow: #000 0px 0px 20px;
	text-align: left;
	margin: 18px;
}

#portbottom {
	margin-top: 42px;
	float: left;
	clear: left;
}

nav {
	width: @8cols;
	margin: 0 auto;
	font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
}

div.navbutton {
	width: @2cols + 16;
	float: left;
	text-align: center;
	height: 48px;
	border: 1px solid #333;
	background: #333;
	color: #ddd;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	a { 
		text-decoration: none; 
		color: #ddd;
		height: 36px;
		padding-top: 12px;
		//width: @2cols + 16;
		display: block;
		outline: none;
		cursor: pointer;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		background: #333;
		background: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#303030));
		background: -moz-linear-gradient(top,  #383838,  #303030);
	}
	a:hover {
		border-radius: 0;
		background: #444;
		background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#404040));
		background: -moz-linear-gradient(top,  #484848,  #404040);
	}
	a:active {
		position: relative;
		top: 1px;
		height: 35px;
		color: #ccc;
		background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#383838));
		background: -moz-linear-gradient(top,  #303030,  #383838);
	}
}

#home {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#blog {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#contact {
	margin-top: 8px;
}

#sidebar-nav {
	width: @2cols + 16;
	margin: 0 auto;
	font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
}

div.sbbutton {
	width: @2cols + 16;
	float: left;
	text-align: center;
	height: 48px;
	border: 1px solid #888;
	background: #aaa;
	color: #444;
	-webkit-box-shadow: 0 0.5px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0.5px 1px rgba(0,0,0,.2);
	box-shadow: 0 0.5px 1px rgba(0,0,0,.2);
	border-radius: 5px;
	margin-bottom: 8px;
	a { 
		text-decoration: none;
		border-radius: 5px; 
		color: #444;
		height: 36px;
		padding-top: 12px;
		display: block;
		outline: none;
		cursor: pointer;
		text-shadow: 0 0.4px 0.4px rgba(0,0,0,.3);
		background: #aaa;
		background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#a4a4a4));
		background: -moz-linear-gradient(top,  #bbb,  #a4a4a4);
	}
	a:hover {
		border-radius: 5px;
		background: #999;
		background: -webkit-gradient(linear, left top, left bottom, from(#a1a1a1), to(#909090));
		background: -moz-linear-gradient(top,  #a1a1a1,  #909090);
	}
	a:active {
		position: relative;
		top: 1px;
		height: 35px;
		color: #3f3f3f;
		background: -webkit-gradient(linear, left top, left bottom, from(#a3a3a3), to(#b5b5b5));
		background: -moz-linear-gradient(top,  #a3a3a3,  #b5b5b5);
	}
}

#email-s a {
	font-size: 75%;
	line-height: 24px;
}

h2.resumeSection {
	margin-top: 32px;
	margin-bottom: 12px;
}

footer {
	width: @10cols;
	text-align: center;
	margin-top: 340px;
	height: 24px;
	color: #aaa;
	float: left;
	clear: both;
	p { font-family: ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
	a { color: #888; padding: 0; }
	a:hover { color: #666; background: none; }
}

#foot4 { display: none; }

.portsquare.touch {
	margin-bottom: 216px;
}

.porttouch {
	width: 276px;
	height: 180px;
	position: absolute;
	top: 300px;
	left: -2px;
	z-index: 3;
	border: 2px solid #333;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 0;
	-moz-box-shadow: 0px 0px 1px 1px #333;
	-webkit-box-shadow: 0px 0px 1px 1px #333;
	box-shadow: 0px 0px 1px 1px #333;
	background-color: rgba(15, 15, 15, 0.8);
	color: #fff;
	text-shadow: #000 0px 0px 20px;
	font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	padding-left: 12px;
	padding-right: 12px;
}

.porttouch h4, .porttouch p {
	text-shadow: #000 0px 0px 20px;
	font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 12px;
}

#pt1 h4 { margin-top: 36px; }
#pt2 h4 { margin-top: 26px; }
#pt3 h4 { margin-top: 8px; }
#pt4 h4 { margin-top: 18px; }

.bslg-nobreak { display: inline; }
.bslg-break { display: none; }

#buildinglogo {
	width: 200px;
	height: 279px;
	margin: 0 auto;
	top: 40px;
	position: relative;
	float: none;
	clear: none;
}

/*		Tablet Layout: 768px.
		Columns: 8.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		//width: 712px;
		//width: @8cols;
		padding: 48px 28px 60px;
	}
	
	hr { margin-bottom: 36px; }
	
	#wrap { width: @8cols; }
	#top { width: @8cols; margin-bottom: 12px;}
	#left { 
		width: -2px + @5cols;
		p { margin-top: 16px; font-size: 20px; }
	}
	#right { width: -2px + @3cols; p { font-size: 16px; } }
	#center {
		width: @8cols;
		p,ul { font-size: 16px; }
		ul.skilllist li { margin-bottom: 4px; }
		p.resumeBottom { font-size: 14px; margin-top: 22px; }
	}
	
	#center-portfolio {
		width: @8cols;
		p { font-size: 16px; }
	}
	
	.portsquare {
		margin-top: 36px;
	}
	
	.portsquare:nth-of-type(2n-1) {
		margin-left: 31px;
	}
	
	.portsquare:nth-of-type(2n) {
		margin-left: 42px;
	}
	footer { width: @8cols; margin-top: 330px; }
	
	.portsquare.touch {
		margin-bottom: 216px;
	}
	
	.porttouch {
		width: 276px;
		height: 180px;
		position: absolute;
		top: 300px;
		left: -2px;
		z-index: 3;
		border: 2px solid #333;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		padding: 0;
		-moz-box-shadow: 0px 0px 1px 1px #333;
		-webkit-box-shadow: 0px 0px 1px 1px #333;
		box-shadow: 0px 0px 1px 1px #333;
		background-color: rgba(15, 15, 15, 0.8);
		color: #fff;
		text-shadow: #000 0px 0px 20px;
		font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-weight: bold;
		padding-left: 12px;
		padding-right: 12px;
	}
	
	.porttouch h4, .porttouch p {
		text-shadow: #000 0px 0px 20px;
		font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		margin-bottom: 12px;
	}
	
	#pt1 h4 { margin-top: 36px; }
	#pt2 h4 { margin-top: 26px; }
	#pt3 h4 { margin-top: 22px; }
	#pt4 h4 { margin-top: 32px; }
	
	.bslg-break { display: none; }
	.bslg-nobreak { display: inline; }
	#bslg { font-size: 2.3*@txt;}
	
}



/*		Mobile Layout: 320px.
		Columns: 3.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		//width: 252px;
		//width: @3cols;
		padding: 48px 34px 60px;
	}
	
	hr { margin-bottom: 24px; }
	
	#wrap { width: @3cols; }
	#top {
		width: @3cols; 
		margin-bottom: 8px;
	}
	#left { 
		width: @3cols;
		margin-top: 24px;
		p { margin-top: 8px; font-size: 16px; }
	}
	#right { 
		width: @3cols;
		margin: 0;
		margin-top: 32px;
		p { font-size: 16px; }
	}
	#center {
		margin-top: 274px;
		width: @3cols;
		p,ul { font-size: 16px; }
		li { margin-bottom: 16px; }
		span.trnl { display: inline; }
		span.rdash { display: none; }
		ul.skilllist li { margin-bottom: 12px; }
		ul.orml li { margin-bottom: 4px; margin-top: 4px; }
	}
	
	nav {
		width: @2cols + 16;
	}
	
	div.navbutton {
		width: @2cols + 16;
		margin-bottom: 8px;
		border-radius: 5px;
	}
	
	footer { width: @3cols; margin-top: 330px; height: 48px; }
	#foot2 { display: none; }
	#foot4 { display: inline; }
	
	h1 { .large }
	h2 { .bigger }
	h3 { .big }
	
	#center-portfolio {
		width: @3cols;
		margin-top: 274px;
		p { font-size: 16px; }
	}
	
	.portsquare {
		margin-top: 42px;
	}
	
	.portsquare:nth-of-type(2n-1) {
		margin-left: -29px;
	}
	
	.portsquare:nth-of-type(2n) {
		margin-left: -29px;
	}
	.portsquare.touch {
		margin-bottom: 200px;
	}
	.porttouch {
		width: 276px;
		height: 180px;
		position: absolute;
		top: 300px;
		left: -2px;
		z-index: 3;
		border: 2px solid #333;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		padding: 0;
		-moz-box-shadow: 0px 0px 1px 1px #333;
		-webkit-box-shadow: 0px 0px 1px 1px #333;
		box-shadow: 0px 0px 1px 1px #333;
		background-color: rgba(15, 15, 15, 0.8);
		color: #fff;
		text-shadow: #000 0px 0px 20px;
		font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-weight: bold;
		padding-left: 12px;
		padding-right: 12px;
	}
	
	.porttouch h4, .porttouch p {
		text-shadow: #000 0px 0px 20px;
		font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		margin-bottom: 12px;
	}
	
	#pt1 h4 { margin-top: 36px; }
	#pt2 h4 { margin-top: 26px; }
	#pt3 h4 { margin-top: 22px; }
	#pt4 h4 { margin-top: 32px; }
	
	.bslg-break { display: inline; }
	.bslg-nobreak { display: none; }
	#bslg { font-size: 26px; }
}



/*		Wide Mobile Layout: 480px.
		Columns: 5.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		//width: 436px;
		//width: @5cols;
		padding: 36px 22px 48px;
	}
	
	#wrap { width: @5cols; }
	#top {
		width: @5cols; 
		margin-bottom: 12px;
	}
	#left { 
		width: -2px + @3cols;
		margin-top: 0px;
		p { margin-top: 12px; font-size: 18px; }
	}
	#right { 
		width: -2px + @2cols; 
		margin-left: 24px; 
		margin-top: 0px;
	}
	#center {
		width: @5cols;
		margin-top: 160px;
		p,ul { font-size: 18px; }
		ul.orml li { margin-bottom: 2px; margin-top: 2px; }
	}
	
	nav {
		width: @5cols;
		margin: 0 auto;
		padding-left: 34px;
	}
	
	div.navbutton {
		width: @2cols + 16;
		margin-bottom: 8px;
	}
	
	div#home { border-top-right-radius: 0; border-bottom-right-radius: 0; }
	div#portfolio { border-top-right-radius: 0; border-bottom-right-radius: 0; }
	div#resume { border-top-left-radius: 0; border-bottom-left-radius: 0; }
	div#blog { border-top-left-radius: 0; border-bottom-left-radius: 0; }
	
	footer { width: @5cols; margin-top: 330px; height: 24px; }
	#foot2 { display: inline; }
	#foot4 { display: none; }
	
	#center-portfolio {
		width: @5cols;
		margin-top: 160px;
		p { font-size: 18px; }
	}
	
	.portsquare {
		margin-top: 42px;
	}
	
	.portsquare:nth-of-type(2n-1) {
		margin-left: 63px;
	}
	
	.portsquare:nth-of-type(2n) {
		margin-left: 63px;
	}
	
	#sidebar-nav {
		width: @2cols + 16;
		margin: 0 auto;
		font: 24px ~"ubuntu-condensed-1, ubuntu-condensed-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-weight: bold;
	}
	
	div.sbbutton {
		width: @1cols + 34;
		height: 40px;
		margin-left: 27px;
		font-size: 20px;
		font-weight: 500;
		a { 
			height: 33px;
			padding-top: 7px;
			display: block;
			outline: none;
			cursor: pointer;
			text-shadow: 0 0.4px 0.4px rgba(0,0,0,.3);
			background: #aaa;
			background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#a4a4a4));
			background: -moz-linear-gradient(top,  #bbb,  #a4a4a4);
		}
		a:first-of-type {
			padding-top: 8px;
			height: 32px;
		}
		a:hover {
			border-radius: 5px;
			background: #999;
			background: -webkit-gradient(linear, left top, left bottom, from(#a1a1a1), to(#909090));
			background: -moz-linear-gradient(top,  #a1a1a1,  #909090);
		}
		a:active {
			position: relative;
			top: 1px;
			height: 35px;
			color: #3f3f3f;
			background: -webkit-gradient(linear, left top, left bottom, from(#a3a3a3), to(#b5b5b5));
			background: -moz-linear-gradient(top,  #a3a3a3,  #b5b5b5);
		}
	}
	
	#email-s a {
		font-size: 62%;
	}
	
	#phone-s a {
		font-size: 95%;
	}
	
	#pt3 h4 { margin-top: 8px; }
	#pt4 h4 { margin-top: 18px; }
	
	.bslg-break { display: none; }
	.bslg-nobreak { display: inline; }
	#bslg { font-size: 23px; }
	
}
